// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.remember-checkbox {
  margin-left: 10px !important;
}

.gravatar {

}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
   width: 35% !important;
}

.vcenter {
  display: inline-block !important;
  vertical-align: middle !important;
  float: none !important;
}
